# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/DataLayer/bin/Debug/netstandard2.0
/DataLayer/obj
/TPUM/.vs/FoodHomeOrganizer/v16
/TPUM/LogicLayer/bin/Debug/netcoreapp3.1
/TPUM/LogicLayer/obj
/TPUM/PresentationLayer/bin/Debug/netcoreapp3.1
/TPUM/PresentationLayer/obj
/TPUM/Shell/bin/Debug/netcoreapp3.1
/TPUM/Shell/obj/Debug/netcoreapp3.1
/TPUM/Shell/obj
/TPUM/WebsocketServer/bin/Debug/netcoreapp3.1
/TPUM/WebsocketServer/obj
/TPUM/.vs/FoodHomeOrganizer/DesignTimeBuild/.dtbcache.v2
/TPUM/UnitTest.LogicLayer/bin/Debug/netcoreapp3.1
/TPUM/UnitTest.LogicLayer/obj/Debug/netcoreapp3.1
/TPUM/UnitTest.LogicLayer/obj
